{% extends "member/base.html" %}

{% block title %}
    Publications
{% endblock %}

{% block headline %}
    Publications
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Publications</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Cette page regroupe l’emsemble de vos publications rédigées sur le
            site, qu’elles soient en cours de rédaction, en bêta ou bien
            publiées.
        </p>
    </div>
</div>

{# Articles #}

<div class="row">
    <div class="large-12 columns">
        <h2>Mes articles</h2>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <a href="{% url "pdp.article.views.new" %}" class="button">
            <i class="icon-plus"></i>
            Nouvel article
        </a>
    </div>
</div>

{% if user_articles %}
    {% for article in user_articles %}
        {% if article.is_visible %}
            <div class="row article-publication-item published">
        {% else %}
            <div class="row article-publication-item">
        {% endif %}
            <div class="large-1 columns hide-for-small">
                <div class="date-box">
                    {% with date=article.pubdate %}
                        {% include "misc/datebox.part.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="large-10 small-10 columns">
                {% if article.is_beta %}<span class="label alert">BETA</span>{% endif %}
                {% if article.is_visible %}<span class="label success">PUBLIÉ</span>{% endif %}
                <a href="{{ article.get_absolute_url }}">{{ article.title }} </a>
            </div>
            <div class="large-1 small-2 columns">
                <a href="{{ article.get_edit_url }}" class="button small">
                    <i class="icon-edit"></i>
                    Éditer
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="large-12 columns">
            <p>
                Aucun article n'a été rédigé.
            </p>
        </div>
    </div>
{% endif %}


{# Tutorials #}

<div class="row">
    <div class="large-12 columns">
        <h2>Mes tutoriels</h2>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <a href="{% url "pdp.tutorial.views.add_tutorial" %}" class="button">
            <i class="icon-plus"></i>
            Nouveau tutoriel
        </a>
    </div>
</div>

{% if user_tutorials %}
    {% for tutorial in user_tutorials %}
        {% if tutorial.is_visible %}
            <div class="row article-publication-item published">
        {% else %}
            <div class="row article-publication-item">
        {% endif %}
            <div class="large-1 columns hide-for-small">
                <div class="date-box">
                    {% with date=tutorial.pubdate %}
                        {% include "misc/datebox.part.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="large-10 small-10 columns">
                {% if tutorial.is_beta %}<span class="label alert">BETA</span>{% endif %}
                {% if tutorial.is_visible %}<span class="label success">PUBLIÉ</span>{% endif %}
                <a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }} </a>
            </div>
            <div class="large-1 small-2 columns">
                <a href="{% url "pdp.tutorial.views.edit_tutorial" %}?tutoriel={{ tutorial.pk }}" class="button small">
                    <i class="icon-edit"></i>
                    Éditer
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="large-12 columns">
            <p>
                Aucun tutoriel n'a été rédigé.
            </p>
        </div>
    </div>
{% endif %}
{% endblock %}
