{% extends "base.html" %}

{% block title_base %}
    &#183; Articles
{% endblock %}

{% block breadcrumb_base %}
    <li><a href="{% url "pdp.article.views.index" %}">Articles</a></li>
{% endblock %}

{% block menu_article %}
    class="active"
{% endblock %}
